# Ignore all design files
*.sketch
*.fig

# Ignore any converted design files
*.xd

# Ignore design folder & its content
intro-section-with-dropdown-navigation-sketch/*

# Ignore the node module folder
node_modules

# Ignore package-lock.json file
package-lock.json
