# Ignore node_modules folder
node_modules

# Ignore .json files
*.json

# Ignore images folder
images

# Ignore all design files
*.sketch
*.fig

# Ignore design folder & its content
intro-section-with-dropdown-navigation-sketch/*